@model Common.Model.PROt02_producto

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Helpers;
@using Common.Helper

<div class="col-lg-12">
    <div class="page-title">
        <div>
            <h1><i class="fa fa-edit"></i>Registro nuevo producto</h1>
            <p>Crear producto ..!</p>
        </div>
        <div>
            @CustomHelper.Ruta()
        </div>
    </div>

    <!--*****************REGISTRO PRODUCTO*******************-->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <h3 class="card-title">Nuevo Producto</h3>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="cold-lg-12">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.codProducto, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.codProducto, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingresar código de producto" } })
                                @Html.ValidationMessageFor(model => model.codProducto, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.codBarra, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.codBarra, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingresar código de barra" } })
                                @Html.ValidationMessageFor(model => model.codBarra, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group">
                                <label class="control-label">Nombre Comercial</label>

                                @Html.EditorFor(model => model.nombreProductoComercial, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingresar nombre comercial" } })
                                @Html.ValidationMessageFor(model => model.nombreProductoComercial, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.nombreProductoGenerico, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.nombreProductoGenerico, new { htmlAttributes = new { @class = "form-control", @placeholder = "Ingresar nombre genérico" } })
                                @Html.ValidationMessageFor(model => model.nombreProductoGenerico, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.descProducto, htmlAttributes: new { @class = "control-label " })

                                @Html.TextAreaFor(model => model.descProducto, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.descProducto, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.obsvProducto, htmlAttributes: new { @class = "control-label " })

                                @Html.TextAreaFor(model => model.obsvProducto, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.obsvProducto, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group">
                                <div class="card-body">
                                    @Html.LabelFor(model => model.idCategoria, "Categoría", htmlAttributes: new { @class = "control-label" })
                                    <div class="clearfix"></div>
                                    <div class="col-md-4">
                                        @Html.DropDownList("idCategoria", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.idCategoria, "", new { @class = "text-danger" })
                                    </div>
                                    <button type="button" class="fa fa-lg fa-plus btn btn-success btn-lg" data-toggle="modal" data-target="#myModal"></button>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="form-group">
                                <label class="control-label " for="nombreProductoComercial">Moneda</label>

                                <input class="form-control text-box single-line" disabled="disabled" placeholder="Ingresar nombre comercial" type="text" value="@Coin.coin.descMoneda (@Coin.coin.simbolo)">
                            </div>

                            <!--Botones-->

                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-primary icon-btn" type="submit">
                                        <i class="fa fa-fw fa-lg fa-check">
                                        </i>Registrar
                                    </button>&nbsp;&nbsp;&nbsp;
                                    <a class="btn btn-default icon-btn" href="@Url.Action("Index","Producto")">
                                        <i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel
                                    </a>
                                </div>
                            </div>

                            <!--Producto Modal-->
                            <!--Botón con diseño-->
                            @Html.Partial("Modal/_CreateCategory")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Plugins/select2.min.js"></script>
<script type="text/javascript">
    $('#idCategoria').select2();
</script>

<script>
    $(document).ready(
        function () {
            $('#btnCancel').click(function() {
                $('#myModal').modal('hide');
            });

            $('#btnCreate').click(function () {
                debugger;
                var nombre = $("#nombreCategoria").val();
                var desc = $("#descCategoria").val();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("QuickCreate")',
                    data: { "nombre": nombre,"desc": desc},
                    datatype: 'json',
                    contenttype: "application/json",
                    success: function (model) {
                        $('#myModal').modal('hide');
                        var prueba = model.nombre;
                        console.log(model);
                        debugger;
                    }
                });
            });

        })
</script>