@model IEnumerable<Common.Model.PROt02_producto>

@{
    ViewBag.Title = "Index";
}
@using Helpers
<div class="page-title">
    <div>
        <h1><i class="fa fa-edit"></i> Mantenimiento de Productos</h1>
        <p>Lista de Productos</p>
    </div>
    <div>
        @CustomHelper.Ruta()
    </div>
</div>
<!--********************************FIN TITULO*******************************-->
<!--AQUÍ VA EL CODIGO-->
<div class="row">
    <div class="col-md-12">
        <!--CODIGO MODIFICAR-->
        <div class="card">


            <!--ACTIONS-->
            <div class="card-title-w-btn ">
                <!--NEW PATIENT-->
                <div class="bs-component">
                    <div>
                        <a class="btn btn-info icon-btn" href="@Url.Action("Create","Producto")">
                            <i class="fa fa-fw fa-lg fa-user-plus"></i>Nuevo Producto
                        </a>
                    </div>
                </div>
                <!--EXPORT-->
                <div class="btn-group">
                    <a class="btn btn-primary dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-fw fa-lg fa-cloud-download"></i>Exportar <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">PDF</a></li>
                        <li><a href="#">Excel</a></li>
                        <li><a href="#">Otro</a></li>
                    </ul>
                    <div class="bs-component borde">
                    </div>
                </div>
            </div>
            <hr>
            <!--***************TABLE-->
            <div class="card-body">
                <table class="table table-hover table-bordered " id="tablegeneral">
                    <thead style="color:#ffffff;background:#0094ff;">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.codProducto)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.nombreProductoComercial)
                        </th>
                        <th>
                            Categoría
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.activo)
                        </th>
                        <th>
                            Detalle
                        </th>
                        <th>
                            Editar
                        </th>
                        <th>
                            Eliminar
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.codProducto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nombreProductoComercial)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PROt01_categoria.nombreCategoria)
                            </td>
                            <!--Estado-->
                            <td>
                                <div class="text-center">
                                    @Helpers.CustomHelper.Estado(item.activo)
                                </div>

                            </td>
                            <!--Detalle-->
                            <td>
                                <div class="col-md-12 text-center">
                                    <a id="@item.idProducto" name="@item.idProducto" class="btn btn-default btn-flat aDet" data-toggle="modal" data-target="#myModal">
                                        <i class="fa fa-lg fa-plus"></i>
                                    </a>
                                </div>
                            </td>
                            <!--Editar-->
                            <td>
                                <div class="col-md-12 text-center">
                                    <a class="btn btn-warning btn-flat" href="@Url.Action("Edit","Producto",new { id = item.idProducto})">
                                        <i class="fa fa-lg fa-edit"></i>
                                    </a>
                                </div>
                            </td>
                            <!--Eliminar-->
                            <td>
                                <div class="col-md-12 text-center">
                                    @CustomHelper.Eliminar(item.activo,Url.Action("Delete","Producto"),item.idProducto)
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            @Html.Partial("~/Views/Producto/Modal/IndexModal_PartialPage.cshtml")
        </div>
    </div>
    <!--FIN DE MODIFICAR-->
</div>


<!--    Script habilitar el filtro de tablas  -->
<script src="~/Scripts/jq/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/DataTables/tableGeneral.js"></script>
<script>
    $(document).ready(
        function () {
            $('.aDet').click(function () {
                debugger;
                var idProduct = $(this).attr("id");
                $.ajax({
                    type: 'POST',
                    url: '/Producto/getProduct',
                    data: { "id": idProduct },
                    datatype: 'json',
                    contenttype: "application/json",
                    success: function (producto) {
                        $("#id").html(producto.idProducto);
                        $("#codigo").html(producto.codProducto);
                        $("#codigoBarra").html(producto.codProducto);
                        $("#nomGenerico").html(producto.nombreProductoGenerico);
                        $("#nomComercial").html(producto.nombreProductoComercial);
                        $("#descripcion").html(producto.descProducto);
                        $("#observacion").html(producto.obsvProducto);
                        $("#estado").html(producto.activo);
                        debugger;
                        $("#fechRegistro").html(producto.fecRegistro.toString());
                        $("#fechModificacion").html(producto.fecModificacion);
                        $("#fechEliminación").html(producto.fecEliminacion);
                        $("#categoria").html();

                        //Deshabilitar validaciones
                        $("#codProducto").removeAttr("data-val-required");
                    }
                });
            });

        })
</script>